/* hero section styling */
nav {
  color: #a6b0b6;
}
ul {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
  font-weight: bold;
  list-style: none;
  margin-right: 60px;
}

nav a {
  text-decoration: none;
  color: #aab6ba;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
  background-color: #456882;
  color: #d8dbdd;
}

.hero-content {
  max-width: 600px;
}

.hero-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 48px;
  color: #e8d0c0;
  margin-bottom: 10px;
}

.hero-content h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.hero-content h3 span {
  color: #D2C1B6;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.hero-content .btn {
  display: inline-block;
  padding: 10px 20px;
  background: #6edada;
  color: #1a0808;
  border-radius: 5px;
  text-decoration: none;
}

.social-icons {
  margin-top: 20px;
  height: 25px;
}

.social-icons a {
  color: #bc5656;
  margin-right: 10px;
  font-size: 20px;
  width: 20px;
  display: inline-block;
  background-color: #456882;
  align-self: start;
  border-radius: 20%;
}

.fa-brands {
  color: #00ffff;
}
.hero-content .social-icons a:hover {
  color: #1daad8;
  transform: scale(1.5); /* Slightly bigger on hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Shadow on hover */
}

.hero-content a {
  color: #25cbcb;
  text-decoration: none;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.5);
}
.hero-content a:hover {
  text-decoration: underline;
}
.hero-image img {
  display: inline-block;
  height: 390px;
  width: 300px;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  object-fit: cover;  
  transition: all 0.3s ease;
  border: 6px solid #00ffff;
}

.hero-image {
  width: 308px;
  height: 390px;
  display: block;
  border-radius: 12px;
  margin-left: 20px;
}

.hero-image img:hover {
  border-radius: 65%;
  transform: scale(1.05); /* Slightly bigger on hover */
  box-shadow: 0 0px 20px rgba(30, 175, 204, 0.5); /* Shadow on hover */
  background-color: #b0b0b0;
}

footer {
  background-color: #1B3C53;
  color: #000000;
  text-align: center;
  padding: 20px;
}
